gradio
insightface
numba
numpy
onnxruntime-gpu
opencv-python
Pillow
PyYAML
scenedetect
vot-toolkit
yt-dlp
ultralytics
huggingface_hub
pytest
pyiqa
matplotlib
imagehash
mediapipe
scikit-learn
imagehash
groundingdino-py==0.4.0
scikit-image
lpips
pydantic
pydantic-settings
gradio
lpips
numba
scikit-learn
