gradio
insightface
numba
numpy<2
onnxruntime-gpu
opencv-python
Pillow
PyYAML
scenedetect
vot-toolkit
yt-dlp
huggingface_hub
pytest
pyiqa
matplotlib
imagehash
mediapipe
scikit-learn
scikit-image
lpips
pydantic
pydantic-settings
timm>=1.0.17
ftfy
regex
iopath
decord
python-dotenv
pycocotools
